@import '../modulos/variables' ;

//seccion header

.bounce {
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
      70% { transform:translateY(0%); }
      80% { transform:translateY(-15%); }
      90% { transform:translateY(0%); }
      95% { transform:translateY(-7%); }
      97% { transform:translateY(0%); }
      99% { transform:translateY(-3%); }
      100% { transform:translateY(0); }
  }
  

//seccion lineas de productos
#modulo{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .fondop{
    background-image: url(/assets/img/inicio-2025-M.jpg);
    }

    .fondo3{
    background-image: url(assets/img/header_Neurosurgery_1920x875_03_42dc94b3c3.jpeg);
    }
       
    .imagenh{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-attachment: fixed;
    }

.contenedor-texto {
    margin: $margin;
    display: flex;
    height: 22rem;
    justify-content: center;
    align-items: center;
 
.body-card{
    background-color: none;
    text-align: left;
    padding: 10px 20px;
    position: relative;
    display: block;
    background-color: none;
    justify-content: right;

    border: 0px solid #f5f5f7;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.05);
    height: fit-content;

    h1{
        color: white;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 3rem;
    }
   
}
}

// secion imagen neurocirugia

 .contenedor-texto span{
    background-color:$color2;
    padding: 4px 15px;
    border-radius: 12px 0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-family: "Montserrat", sans-serif;    
}
    .body-card h2{
    font-size: 2rem;
    font-weight: 700;
    padding: 10px 0;
    color: white;
    }
    .body-card h4{
        font-size: 1.2rem;
        font-weight: 600;
        color: whitesmoke;
    }

       .btn-productos{
        background-color:$color1;
        border-radius: 5px;
        padding: 3px 12px;
        box-shadow: $shadow;
        border: none;
        position: absolute;
        right: 30px;
        bottom: 20px;
        margin-top: 10px;
      }

       .btn-productos a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 800;
        padding: 5px;
        font-family: "Inter", sans-serif;

      }
       .btn-productos:hover{
          box-shadow: $shadow2;
          background-color:$color3;
          font-weight: 800;
      }
       .flecha{
          color: white;
          padding-left: 10px;
      }
      

}
 
#modulo .video-container{
display: flex;
justify-content: left;
align-content: flex-start;
padding-left: 2rem;

}
// secion videos

#modulovideo{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50rem;
    display: flex;
    align-items: center;
}

#modulovideo .contenedor{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    padding-bottom: 2rem;
}

#video-fondo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#modulovideo .contenedor .contenedor-texto {
    margin: $margin;
    display: flex;
    height: 12rem;
    justify-content: center;
 
.body-card{
    background-color: none;
    text-align: left;
    padding: 20px;
    position: relative;
    display: block;
    background-color: none;
    justify-content: right;

    border: 0px solid #f5f5f7;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.03);
    height: auto;

    flex-direction: row;


}

 .body-card span{
    background-color:$color2;
    padding: 4px 15px;
    border-radius: 12px 0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-family: "Montserrat", sans-serif;     

}
    .body-card h2{
    font-size: 2rem;
    font-weight: 700;
    padding: 5px 0;
    color: #1f2124;
    }
    .body-card h4{
        font-size: 1.2rem;
        font-weight: 600;
        text-align: justify;
        color: $color2;
        
    }
       .btn-productos{
        background-color:$color1;
        border-radius: 5px;
        padding: 3px 12px;
        box-shadow: $shadow;
        border: none;
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: flex;
        align-items: center;
      }

       .btn-productos a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 800;
        padding: 5px;
        font-family: "Inter", sans-serif;

      }
       .btn-productos:hover{
          box-shadow: $shadow2;
          background-color:$color3;
          font-weight: 800;
      }
       .flecha{
          color: white;
          padding-left: 10px;
      }
      

}

