@import '../modulos/variables' ;

//header linea 1

#headerlinea {
    display: flex;
    margin: $margin;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 0 15px;
    background-color: #ecf9fc;

     .header-lineaproducto{
        width: $width;
        background-color: #3c4141;
        background-color: #a9a9a9;
        background-color: $colordcards;
        border-radius: $border-1;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: $margin-header;
        box-shadow: $shadow;
        overflow: hidden;
    }
    
    .header-lineaproducto:hover{
        transform: scale(1.02);
        box-shadow: $shadow2;
        transition: 750ms;
    }

    .contenedor-imagen .foto1{
        background-image: url(../assets/img/header_implante_manos.jpg);
    }
    .contenedor-imagen .foto4{
        background-image: url(../assets/img/header_implante_manos.jpg);
    }
    .contenedor-imagen .foto5{
        background-image: url(../assets/img/header-instrumental.jpg);
    }
    
    .imagen{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 22rem;
        display: block;
        flex-grow: 1;
        background-clip: content-box;
        transition: 500ms; 
    }
    
    .imagen:hover{
        scale: 105%;
        transition: 500ms;
    }
    .contenedor-texto {
        margin: $margin;
        display: flex;
        height: 22rem;
        align-items: center;
    }
     
    .body-card{
        background-color: none;
        text-align: left;
        padding: 20px 30px;
    }

.header-lineaproducto .contenedor-texto span{
    background-color:$color2;
    padding: 3px 15px;
    border-radius: 12px 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
    .body-card h2{
    font-size: 26px;
    font-weight: 700;
    padding: 15px 0;
    color: white;
    color: #4d4d4d;
    }
    }
    
//linea de productos

#linea1productos {
    display: flex;
    flex-wrap: wrap;
    background-color:$background1;
    justify-content: center;
    .titulo{
        margin:$margin;
        width: $width;
        height: auto;
        display: flex;
        flex-direction: row;
        margin-top: 90px;
        padding: 0 15px;
            h1{
            font-size: 34px;
            font-weight: 500;
            color: $color2;
            }
            h1 span{
            font-weight: 800;
            color: #121212;
            }
    }
    
    .contenedor-card{
        width: $width;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin:$margin-header;
    }
    .card-lineaproducto{
        margin: $margin;
        height: auto;
        background-color: snow;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 12px;
        box-shadow:$shadow;
        transition: all 0.3s;
        overflow: hidden;
    }
    .margen{
        padding: 15px;
    }
    .contenedor-imagen .foto1{
        background-image: url(../assets/img/csm_LevelOne_instruments_735x370_efa8bdc60f.jpg);
    }
    .contenedor-imagen .foto2{
      background-image: url(../assets/img/csm_LevelOne_plates_and_meshes_735x370_01_8ed5c334df.jpg);
    }
    .imagen{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 14rem;
        display: block;
        flex-grow: 1;
        background-clip: content-box;
        transition: 500ms; 
    }
    .imagen:hover{
        scale: 110%;
       }
    .contenedor-texto {
        margin: 0;
        display: flex;
        width: 100%;
        height: 14rem;
        }
     
    .body-card{
        width: 100%;
        text-align: left;
        padding: 15px;

        h6{
            font-size: 14px;
            font-weight: 800;
        }
        h3{
            font-size: 26px;
            font-weight: 700;
            padding: 10px 0;
        }
        h4 {
            font-size: 20px;
            font-size: 500;
        }
        }
     
        footer {
        justify-content: end;    
    bottom: 40px;
        
        
    }
    .card-lineaproducto:hover{
        transform: scale(1.02);
        box-shadow: $shadow2;
        }
    .btn-producto{
        background-color: $color1;
        border-radius: 5px;
        padding: 3px 12px;
        border: none;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        float: right;
        box-shadow: $shadow;
        }
    .btn-producto:hover{
        box-shadow: $shadow2;
        background-color: $color3;
        }
    footer{
        padding-top: 20px;
        }
      
    }


  /* catalogo*/
#catalogo{
    background-color:$color1;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    .contenedor-catalogo{
    margin: $margin;
    width: $width;
    height: 5rem;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    }
    h2{
    color: white;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    padding: 10px;
    }
    .icono-descarga{
    background-image: url(../assets/img/icono-descarga.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 63px;
    height: 80px;
    }
    }