@import '../modulos/variables' ;

.float-wa{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}


//seccion ventas

#nosotros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #272727;
    padding: 60px 0;

.contenedor-presentacion{
    width: $width;
    margin: $margin;
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding:0 20px;
    }

.contenedor-imagen{
    display: flex;
    justify-content: center;
    background-color: none;
    height: 12rem;
    align-items: center;

}    
     
.logo1{
    background-image: url(assets/img/OST_nuevo\ logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 93px;

    justify-content: center;
    }

.contenedor-texto {
    margin:$margin;
    display: flex;
    align-items: center;
    height: 20rem;
    text-align: left;
    padding: 30px;
    justify-content: center;
    }

    .contenedor-texto h2{
        font-weight: 700;
        font-size: 2rem;
        color: #1f2124;
    }

    .contenedor-texto h3{
        font-weight: 700;
        font-size: 1.8rem;
        color: #1f2124;
        text-align: center;
    }
.contenedor-texto p{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.8rem;
    text-align: justify;
    color: #1f2124;
    }
                
}

//seccion ventas

#formulario{
    margin: $margin;
    width: 100%;
    height: auto;
    display: flex;
    
    background-color: $colordcards;
    justify-content: center;
    padding: 20px;
    background-image: url(assets/img/csm_Innovation_1920x875_04_edc56db414.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  
}

    .contenedor-formulario{
        width: auto;
        background-color: $colordcards;
        border-radius: 12px;
        padding: 20px 40px;
        justify-content: center;
        margin: 100px 0;
        }



  #formulario  .titulo{
        font-size: 2rem;
        font-weight: 700;
        margin: 40px 0;
        color: #1f2124;
        text-align: center;
    }

.casilla{
padding: 5px 0;
justify-content: center;
}
    .form-label{
        font-size: 1rem;
        font-weight: 700;
        color: #1f2124;
    }


#formulario .btn-contacto{
    text-align: right;
}



#formulario .btn-contacto .botonenviar{
    background-color: $color1;
    border-radius: 5px;
    padding: 3px 12px;
    border: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    box-shadow: $shadow;
    margin-top: 30px;
   
    }

#formulario  .btn-contacto .botonenviar:hover{
    box-shadow: $shadow2;
    background-color: $color3;
    }


    // secion privacidad


#privacidad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #1f2124;
    justify-content: center;
    .parrafo{
        margin:$margin;
        width: $width;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 90px;
        margin-bottom: 90px;
        padding: 0 15px;
            h2{
            font-size: 2rem;
            font-weight: 600;
            color: $color2;
            color: whitesmoke;
            margin-bottom: 50px;
            }
           
            h3{
              font-size: 1.5rem;
              font-weight: 600;
              color: white;
              padding-top: 20px;
            }
            h5{
              font-size: 1rem;
              color: whitesmoke;
              line-height: 1.5;
              text-align: justify;
            }

        }
    }